<mat-grid-list cols="5" rowHeight="100px">
  <mat-grid-tile 
  [colspan]="4"
  [rowspan]="1">
 <h1>Listado de Empleados</h1>
  </mat-grid-tile>
 
  <mat-grid-tile
     
  [colspan]="1"
  [rowspan]="1"
 >
  <a class="button"  [routerLink]="(['/add'])" mat-raised-button	>AGREGAR</a>
  </mat-grid-tile>
</mat-grid-list>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
  </mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="nombreCompleto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="estadoCivil">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Civil </th>
      <td mat-cell *matCellDef="let element"> {{element.estadoCivil}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="fechaIngreso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Ingreso </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaIngreso | date:'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef> Sexo</th>
        <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
      </ng-container>
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Telefono</th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones</th>
        <td mat-cell *matCellDef="let element; let i=index">
          <a class="pointer"> <mat-icon color="primary">edit</mat-icon></a>
          <a (click)="borrar(i)" class="pointer"> <mat-icon color="warn" >delete</mat-icon>
          </a>
           </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator (page)="handlePageEvent($event)"  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
  